@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/**/

*{
    font-family: 'Inter', sans-serif;
}

i {
    font-size: 2.20em;
}

.full-height {
    height: 100vh;
}




/* Barra superior*/

.division_nav {
    height: 10%;
    background-color: #CB0017;
    color: white;
}

/* Barra superior: boton de vuelta atrás*/

.division_nav_back {
    background-color: rgb(57, 56, 56);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Barra superior: enunciado del medio*/
.division_nav_audio {
    height: 100%;

    display: flex;
    align-items: center;
    font-size: large;
}
/* Barra superior: boton ayuda y apagar*/
.division_nav_bloque {
    height: 100%;
}

.division_bloque_ayuda {
    background-color: rgb(221, 212, 208);
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
}

.division_bloque_power {
    height: 100%;
    background-color: #242828;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

/**/

.division_general {
    height: 90%;
    text-align: center;
}



.division_mod_uso {
    width: auto;
    height: 20%;
    background-color: #c2bbbb;
    text-align: center;
}
.div_cab_mod_uso{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divsion_check_camara {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

}

.division_general_mod_uso {
    height: 100%;


}

.col_btn_audio{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: orange;
    color: white;
}
.col_btn_proyector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.col_btn_video {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*división general*/

.division_mod_general {
    width: 100%;
    height: 70%;

}


/**/

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/**/

.division_mod_bot_conf {
    background-color: rgb(185, 185, 185);
    height: 10%;

}

.division_boton_conf_audio {
    background-color: rgb(221, 212, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.col_drch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
