@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    height: auto;
    font-family: 'Inter', sans-serif;
}

i {
    font-size: 2.20em;
}

.full-height {
    height: 100vh;
}

.custom-section {
    text-align: center;
}

.encabezado {
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
    height: 30%; /* Ajusta la altura según tus necesidades */
}
.sub1division1 {
    background-color: #CB0017;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    height: auto;
}
.sub1division2 {

    height: auto;
}

.botonAyuda {
    background-color: rgba(243, 243, 243, 0.56);
    background-size: cover;

}

.botonApagar {
    background-color: rgba(100, 100, 100, 0.568);
    background-size: cover;
}



.sub-section1 {
    display: flex;
    justify-content: center;
    margin-top: 9%;
    align-items: center;
}

.sectionBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

/* Estilos para los botones */
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; /* Invierte la dirección de los elementos en la fila */
    width: 100%; /* Ancho del botón, ajusta según necesites */
    height: 120%; /* Alto del botón, ajusta según necesites */
    padding: 1%; /* Espaciado interno del botón, ajusta según necesites */
    background-color: rgba(243, 243, 243, 0.56); /* Color de fondo del botón */
    border: 1px solid rgb(214, 214, 214); /* Borde del botón */
    border-radius: 0; /* Radio del borde del botón, ajusta según necesites */
    margin-top: 10%;
    background-size: cover;
    padding: 1.5%;

}



.btn_footer {
    /* Ajustes adicionales según tus necesidades */
    background-color: rgba(243, 243, 243, 0.56);
    border-color: rgb(214, 214, 214); /* Ejemplo de color de borde del botón */
    color: #000000; /* Ejemplo de color del texto del botón */
    position: fixed; /* Fijar posición */
    bottom: 0; /* Colocar al borde inferior */
    right: 0; /* Colocar al borde derecho */
    border-radius: 0;
    padding: 10px; /* Añadir relleno para espaciar el contenido del botón */
    text-align: center;
}
