body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

i {
    font-size: 3em;
}

button {
    margin: 0;
}



.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #333;
}